 <!-- Footer -->
 <footer class="blog-footer navbar-inverse">
   <div class="container">
      <span class="pull-left footer-padding"><a href="https://weibo.com/aoingl">新浪微博</a></span>
      <span class="pull-left footer-padding"><a href="https://github.com/gaol/gaol.github.io">GitHub</a></span>
      <span class="pull-left footer-padding"><a href="https://twitter.com/gaol">Twitter</a></span>
      <span class="pull-left footer-padding">&nbsp;</span>
      <span class="pull-left footer-padding">Copyright &copy; 2017</span>
      <span class="pull-left footer-padding">&nbsp;</span>
      <span class="pull-left footer-padding"><a href="#top">回到页首</a></span>
    </div>
 </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
