<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body class="blog index">
  {% include nav-top.html %}

    <!-- Main container -->
    <div class="container">
      <div>&nbsp;</div>
      <a name="top"></a>
      <div class="blog-header">
        <h1 class="blog-title">{{ page.title | default: site.title }} </h1>
        <p class="lead blog-description">{{ page.description | default: site.subtitle}} </p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div>

      {% include sidebar.html %}
      </div>
    </div>

  {% include footer.html %}
  </body>
</html>

