---
layout: default
---
	{% for post in paginator.posts %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{ post.date }} </p>
	    <div class="content">
	      {{ post.content | truncatewords: 200 }}
	    </div>
          </div> <!--end of blog-post -->
	{% endfor %}

          <!-- Pager -->
{% if paginator.total_pages > 1 %}
          <div class="pagination">
           <nav>
            <ul class="pager">
              {% if paginator.previous_page %}
              <li><a href="/page{{ paginator.previous_page }}" class="previous">上一页</a></li>
              {% else %}
              <li><span class="previous">上一页</span></li>
              {% endif %}
              <li><span class="page_number ">第 {{ paginator.page }} / {{ paginator.total_pages }} 页</span> </li>
              {% if paginator.next_page %}
              <li><a href="/page{{ paginator.next_page }}" class="next">下一页</a></li>
              {% else %}
              <li><span class="next">下一页</span></li>
              {% endif %}
            </ul>
          </nav>
         </div>
{% endif %}
