---
layout: default
---

{{ content }}

          <!-- Pager -->
           <div class="pagination">
            <nav>
             <ul class="pager">
              {% if paginator.previous_page %}
              <li><a href="/page{{ paginator.previous_page_path}}" class="previous">上一篇</a></li>
              {% else %}
              <li><span class="previous">上一篇</span></li>
              {% endif %}
              {% if paginator.next_page %}
              <li><a href="/page{{ paginator.next_page_path }}" class="next">下一篇</a></li>
              {% else %}
              <li><span class="next">下一篇</span></li>
              {% endif %}
            </ul>
           </nav>
           </div> <!-- end of pager-->
